<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>发布话题</title>
    <div th:replace="/include/header :: commonCss"/>
    <link rel="stylesheet" type="text/css" href="/plugins/wyshtml5/bootstrap3-wysihtml5.min.css" />
</head>
<body>
    <div th:replace="/include/header::navbar"/>
    <div class="container">
        <!-- post area -->
        <div class="row">
            <div class="col-md-9 col-md-padding-offset top-offset">
                <div id="post-area"></div>
            </div>
            <!-- side bar -->
            <div class="col-md-3 col-md-padding-offset top-offset">
                <div id="side-bar"></div>
            </div>
        </div>

    </div>
    <div th:replace="/include/header::commonJs"/>
    <script type="text/javascript" src="/plugins/wyshtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript" src="/plugins/wyshtml5/locales/bootstrap-wysihtml5.zh-CN.js"></script>
    <script type="text/javascript" src="/1.0/js/topic.js"></script>
</body>
</html>